.welcome-card {
  position: static;
  background-color: #bfe0c9;
  width: 100%;
  margin: 16px;
  box-sizing: border-box;
  box-shadow: none;
}

.welcome-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.support-image {
  height: 90px;
}

/* Hide image on small screens */
@media (max-width: 1024px) {
  .support-image {
    display: none;
  }
}
