<!-- <main class="app-layout">
  <app-sidebar></app-sidebar>

  <section class="page-content">
    <router-outlet></router-outlet>
  </section>
</main> -->


<div class="layout">
  <app-sidebar></app-sidebar>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<mat-sidenav-container class="layout">
  <mat-sidenav
    #drawer
    [mode]="collapsed ? 'over' : 'side'"
    [opened]="!collapsed"
    class="sidebar">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="collapsed = !collapsed">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Dashboard</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    </mat-sidenav-content>
</mat-sidenav-container>