.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 1rem;
  height: 100vh;
  position: sticky;
  top: 0;
}


nav a {
  display: block;
  padding: 0.5rem;
  color: #cbd5f5;
  text-decoration: none;
}

nav a.active {
  background: #334155;
  border-radius: 4px;
  color: white;
}
