<aside class="sidebar">
    <nav>
    <h2>
        <a routerLink="/" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            <span> Dashboard </span>
        </a>
    </h2>
    <a routerLink="/dashboard/books" routerLinkActive="">
        <mat-icon>menu_book</mat-icon>
        <span> Books </span>
    </a>
    <a routerLink="/dashboard/progress" routerLinkActive="active">
        <mat-icon>trending_up</mat-icon>
        <span> Progress </span>
    </a>
    <a routerLink="/dashboard/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span> Profile </span>
    </a>
    <a (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span> Logout </span>
    </a>
    </nav>
</aside>